html, 
body {
    height: 100%;
}

body {
  background: rgba(241,231,103,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: radial-gradient(ellipse at center, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );}

.header {
  padding: 20px 0;
  width: 100%;
  color: white;
}

.header h1, h3 {
  width: 100%;
}

.todo__form {
  padding: 20px 0;
}

.todos__list {
  width: 50vw;
}

.todo--list-group {
  display: flex;
  flex-direction: column;
}

.list-group-item  {
  flex: 2 1 auto;
}

.list-group-item span {
  width: 100%;
}

.completed {
  font-style: italic;
  background-color: rgba(127, 255, 212, .2);
}